# SPDX-License-Identifier: GPL-2.0

config ARM64
	def_bool y
	select ARCH_WANT_FRAME_POINTERS
	select ARCH_WANT_LD_ORPHAN_WARN
	select ARM_GIC
	select ARM_ARCH_TIMER
	select ARM_PSCI_FW
	select BUILDTIME_EXTABLE_SORT
	select FRAME_POINTER
	select HAVE_ALIGNED_STRUCT_PAGE
	select HAVE_CMPXCHG_DOUBLE
	select HAVE_STACKPROTECTOR
	select OF
	select OF_EARLY_FLATTREE
	select OF_RESERVED_MEM

config 64BIT
	def_bool y

config ARM64_PAGE_SHIFT
	int
	default 12

config ARM64_CONT_SHIFT
	int
	default 4

config SMP
	def_bool y

config PGTABLE_LEVELS
	int
	default 4

source "kernel/arch/arm64/Kconfig.platforms"

menu "Kernel Features"

config ARM64_4K_PAGES
	def_bool y
	help
	  This feature enables 4KB pages support.

config ARM64_VA_BITS_48
	def_bool y

config ARM64_VA_BITS
	int
	default 48

config ARM64_PA_BITS
	int
	default 48

config CPU_BIG_ENDIAN
	bool "Build big-endian kernel"
	depends on !LD_IS_LLD || LLD_VERSION >= 130000
	help
	  Say Y if you plan on running a kernel with a big-endian userspace.

config NR_CPUS
	int "Maximum number of CPUs (2-4096)"
	range 2 4096
	# These have to remain sorted largest to smallest
	default "64"

config BROKEN_GAS_INST
	bool "Detected assembler with broken .inst"
	default y

source "kernel/core/Kconfig.hz"

config ARCH_HAS_CACHE_LINE_SIZE
	def_bool y

endmenu
