# General configuration options

# Copyright (c) 2014-2015 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

mainmenu "Sel4m/$(ARCH) $(KERNEL_VERSION_STRING) Configuration (Project: $(APPLICATION_SOURCE))"

source "scripts/Kconfig.include"

source "kernel/Kconfig"

source "projects/Kconfig"

osource "$(APPLICATION_SOURCE_DIR)/Kconfig"

config GCC_VERSION
	int
	default $(shell,$(srctree)/scripts/gcc-version.sh -p $(CC) | sed 's/^0*//') 
