CONFIG_ARCH_ORIGIN=y
CONFIG_NR_CPUS=8
CONFIG_HZ_1000=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_CPLUSPLUS=y
CONFIG_LIB_CPLUSPLUS=y
CONFIG_EXCEPTIONS=y
CONFIG_DEBUG_APP=y
CONFIG_QEMU_VIRT=y
CONFIG_QEMU_APPEND="console=ttyAMA0 rodata=nofull"
CONFIG_HAS_PROJECT=y
