# SPDX-License-Identifier: GPL-2.0
#
menu "Minix-rt kernel configuration"

source "kernel/init/Kconfig"

source "kernel/drivers/Kconfig"

source "kernel/lib/Kconfig"

source "kernel/libminix_rt/Kconfig"

source "kernel/lib/Kconfig.debug"

endmenu
